/* h1 {
    color: purple;
    font-size: 60px;
} */

/* #bear-photo{
    
} */

/* .special{
    font-size: 20px;
    color: teal;
    border: 1px solid teal;
} */

/* input[type=submit] {
    width: 60px;
} */

.loss{
    background-color: rgba(255,0,0,0.3);
}

.win{
    background-color: rgba(0,255,0,0.3);
}