button{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 100px;
}

.box{
    width: 200px;
    height: 200px;
}

#boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}